@model Facebook.WebUI.ViewModel.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>


    <style>

        .logindiv{
            margin-left:190px;
            margin-top:90px;
        }

    </style>


</head>


<body>
    <div class="container"> 
        <div class="row col-md-10 logindiv">
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Giriş Yap</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passwword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Passwword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Passwword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit"  value="Login" class="btn btn-primary" />
                </div>
            </div>
        </div>
}
        </div>
      

    </div>

  
   
</body>
</html>
